@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

body {
    align-items: center;
    color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.keyboard {
    background-color: rgb(236, 236, 236);
    border-radius: 2px;
    font-size: 12px;
    margin-top: 50px;
    padding: 2px;
    user-select: none;
    width: fit-content;
}

.keyboard-row {
    display: flex;
}

.keyboard-key {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    margin: 2px;
    min-height: 30px;
    min-width: 30px;
    padding: 10px;
}

.keyboard-key-caps {
    width: 100%;
}

.keyboard-key-ctrl-win-alt {
    min-width: 40px;
}

.keyboard-key-enter {
    min-width: 60px;
}

.keyboard-key-keydown {
    background-color: rgb(190, 200, 255);
}

.keyboard-key-shift {
    width: 100%;
}

.keyboard-key-space {
    width: 100%;
}

.keyboard-key-tab {
    width: 100%;
}

#text {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto Mono", monospace;
    margin-top: 50px;
    user-select: none;
    width: 700px;
}

.text-character {
    border-radius: 2px;
    margin: 1px;
    padding: 4px;
}

.text-character-space {
    border-bottom: 2px solid rgb(207, 207, 207);
}

.text-character-correct {
    background-color: rgb(205, 255, 191);
}

.text-character-incorrect {
    background-color: rgb(255, 177, 177);
}