@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

:root {
    --animation-duration: 300ms;
    --background-color: rgb(255, 255, 255);
    --blue: rgb(190, 200, 255);
    --border-radius: 4px;
    --border: 1px solid rgba(0, 0, 0, 0.1);
    --border-hover: 1px solid rgba(0, 0, 0, 0.3);
    --box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    --color: rgb(22, 22, 22);
    --fingerprint-color: rgba(0, 0, 0, 0.2);
    --gray: rgb(236, 236, 236);
    --green: rgb(237, 255, 223);
    --padding: 4px;
    --placeholder-color: rgb(142, 142, 142);
    --red: rgb(255, 210, 210);
    --space-color: rgba(0, 0, 0, 0.2);
    --title-bar-background-color: rgb(64, 64, 64);
    --title-bar-color: rgb(255, 255, 255);

    --alt-animation-duration: 800ms;
    --alt-color: rgb(255, 255, 255);
    --alt-padding: 10px;
}

:root.dark-mode {
    --background-color: rgb(64, 64, 64);
    --border-hover: 1px solid rgba(0, 0, 0, 0.4);
    --color: rgb(255, 255, 255);
    --fingerprint-color: rgba(255, 255, 255, 0.2);
    --gray: rgb(79, 79, 79);
    --green: rgb(93, 215, 177);
    --red: rgb(255, 142, 172);
    --space-color: rgba(255, 255, 255, 0.4);

    --alt-color: rgb(255, 255, 255);
}

body {
    align-items: center;
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
    user-select: none;
}

button {
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color);
    cursor: pointer;
    padding: var(--alt-padding);
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
}

button:hover {
    border: var(--border-hover);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 900px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto Mono", monospace;
    justify-content: center;
    margin-top: 7rem;
    transform: perspective(400px);
    width: 700px;
}

.text-rotate {
    animation: text-rotate var(--alt-animation-duration) linear;
}

@keyframes text-rotate {
    100% {
        opacity: 0;
        transform: perspective(400px) rotateY(180deg);
    }
}

.text-character {
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color);
    display: flex;
    height: 1rem;
    justify-content: center;
    margin: 1px;
    padding: var(--padding);
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
    width: 1rem;
}

.text-character-cursor {
    animation: blinking var(--alt-animation-duration) infinite;
}

@keyframes blinking {
    50% {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
    }
}

.text-character-space::after {
    border-bottom: 3px solid var(--space-color);
    content: "";
    height: 100%;
    transition: border-bottom var(--animation-duration);
    width: 100%;
}

.text-character-correct {
    background-color: var(--green);
}

.text-character-incorrect {
    background-color: var(--red);
}

.keyboard {
    background-color: var(--gray);
    border-radius: var(--border-radius);
    font-size: 0.7rem;
    margin-top: 2.5rem;
    padding: var(--padding);
    transition: background-color var(--animation-duration);
    width: fit-content;
}

.keyboard-row {
    display: flex;
}

.keyboard-key {
    align-items: center;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--color);
    display: flex;
    justify-content: center;
    margin: 2px;
    min-height: 30px;
    min-width: 30px;
    padding: var(--alt-padding);
    position: relative;
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
}

.keyboard-key-alt {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

div.keyboard-home-key {
    color: var(--fingerprint-color);
    font-size: 2.4rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color var(--animation-duration);
}

.keyboard-key-caps {
    width: 100%;
}

.keyboard-key-caps-indicator {
    background-color: rgb(181, 181, 181);
    border-radius: var(--border-radius);
    height: 4px;
    position: absolute;
    right: var(--alt-padding);
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
}

.keyboard-key-caps-indicator-active {
    background-color: rgb(150, 255, 70);
    box-shadow: 0 0 4px 0 rgb(150, 255, 70);
}

.keyboard-key-ctrl-win-alt {
    min-width: 40px;
}

.keyboard-key-enter {
    min-width: 60px;
}

.keyboard-key-shift {
    width: 100%;
}

.keyboard-key-space {
    width: 100%;
}

.keyboard-key-tab {
    width: 100%;
}

.keyboard-key-keydown {
    background-color: var(--blue);
    box-shadow: inset var(--box-shadow);
}

.keyboard-key-highlight {
    animation: keyboard-key-highlight var(--animation-duration);
}

@keyframes keyboard-key-highlight {
    100% {
        background-color: var(--red);
        transform: scale(1.5);
        z-index: 1;
    }
}

.statistics {
    display: flex;
    font-size: 0.7rem;
    gap: var(--alt-padding);
    left: 0;
    margin: var(--alt-padding);
    position: absolute;
    top: 0;
}

.speed-container,
.error-rate-container {
    align-items: center;
    display: flex;
    gap: var(--padding);
    position: relative;
}

.speed-container:hover::after,
.error-rate-container:hover::after {
    align-items: center;
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    height: 16px;
    left: 0;
    padding: var(--padding);
    position: absolute;
    top: 120%;
    white-space: nowrap;
}

.speed-container:hover::after {
    content: "Typing speed";
}

.error-rate-container:hover::after {
    content: "Error rate";
}

.buttons {
    display: flex;
    gap: var(--alt-padding);
    margin: var(--alt-padding);
    position: absolute;
    right: 0;
    top: 0;
}

.dark-mode-button,
.settings-button {
    cursor: pointer;
}

.dark-mode-button {
    background-color: var(--background-color);
    color: var(--color);
    position: relative;
    transition: background-color var(--animation-duration),
                color var(--animation-duration),
                text-shadow var(--animation-duration);
}

.dark-mode-button:hover::after {
    align-items: center;
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color);
    content: "Dark mode (disabled)";
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    height: 16px;
    left: 0;
    padding: var(--padding);
    position: absolute;
    text-shadow: none;
    top: 120%;
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
    white-space: nowrap;
}

.dark-mode-button.dark-mode-button-enabled:hover::after {
    content: "Dark mode (enabled)";
}

.dark-mode-button.dark-mode-button-enabled {
    text-shadow: 0 0 4px var(--color);
}

.settings-button-rotate-left {
    animation: settings-button-rotate-left var(--alt-animation-duration) cubic-bezier(0.27, 1.77, 0.81, 1.31);
}

.settings-button-rotate-right {
    animation: settings-button-rotate-right var(--alt-animation-duration) cubic-bezier(0.27, 1.77, 0.81, 1.31);
}

@keyframes settings-button-rotate-left {
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes settings-button-rotate-right {
    100% {
        transform: rotate(180deg);
    }
}

.settings {
    background-color: var(--gray);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color);
    display: none;
    font-size: 0.85rem;
    left: 50%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
    width: 500px;
}

.settings-show {
    display: block;
}

.settings-title-bar {
    align-items: center;
    background-color: var(--title-bar-background-color);
    color: var(--title-bar-color);
    display: flex;
    gap: var(--padding);
    padding: var(--alt-padding);
}

.settings-close {
    cursor: pointer;
    margin-left: auto;
}

.settings-form {
    display: flex;
    flex-direction: column;
    padding: var(--alt-padding);
}

.settings-label {
    margin-bottom: var(--padding);
}

.settings-custom-text-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    margin-bottom: var(--alt-padding);
}

.settings-custom-text,
.settings-custom-text-fetch-number,
.settings-chunk-size {
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    outline: none;
    padding: var(--alt-padding);
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
}

.settings-custom-text::placeholder,
.settings-custom-text-fetch-number::placeholder,
.settings-chunk-size::placeholder {
    background-color: var(--background-color);
    color: var(--placeholder-color);
    transition: background-color var(--animation-duration),
                color var(--animation-duration);
}

.settings-custom-text {
    height: 220px;
    resize: none;
}

.settings-custom-text-fetch-container {
    display: flex;
    gap: var(--padding);
}

.settings-custom-text-fetch-number,
.settings-custom-text-fetch-button {
    flex-grow: 1;
}

.settings-chunk-size {
    margin-bottom: var(--alt-padding);
}

.settings-invalid {
    background-color: var(--red);
}

.settings-invalid::placeholder {
    background-color: var(--red);
}

.settings-save {
    margin-left: auto;
}
